<body>
    <div class="landing">
        <h1 class="display-3 catch-phrase">Shake out town with your Events</h1>
    </div>
    <div    class="popular-event">

    </div>
    <div class="infos">

    </div>
</body>