<header>
    <div class="jumbotron jumbotron-fluid landing">
        <div class="container ">
            <h1 class="display-3 catch-phrase">Create wonderful Events</h1>
        </div>
    </div>
</header>
<body>
    <div    class="events container">
        <%@events.each do |event|%>
        <div class="card event" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%=event.title%></h5>
                <h6 class="card-subtitle mb-2 text-muted">Start the <%=event.start_date%></h6>
                <p class="card-text">Cost £<%=event.price%></p>
                <a href="event/<%=event.id%>" class="card-link">See event</a>
            </div>
        </div>
        <% end %>
    </div>
</body>