<div class="show-event container">
    <div class="infos">
        <h1 class="event.title"><%=@event.title%></h1>
    </div>
    <div class="description">
        <p><%=@event.description%></p>
        <a href="#" class="btn">Buy tickets</a>
    </div>
</div>